$gotham: 'Montserrat', sans-serif;
$helvetica: 'Arimo', sans-serif;
$red: rgb(198, 91, 104);
$grey: rgb(136, 136, 136);
$black: rgb(56, 56, 56);


header {
  position: absolute;
  opacity: 0%;
  background-color: $red;
  height: 40vh;
  background-image: url("../../assets/dog.png");
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  background-blend-mode: soft-light;
  @media screen and (min-width: 1024px){
    opacity: 100%;
    position: initial;
  }
}

.general {
  max-width: 1024px;
  margin: 0 auto;
}

.nav-bar {
  ul {
    display: flex;
    list-style-type: none;
    li {
      float: left;
      text-decoration: none;
    }
  }
  display: flex;
}
