$gotham: 'Montserrat', sans-serif;
$helvetica: 'Arimo', sans-serif;
$red: D35266;
$grey: 888888;
$black: 383838;

.general {
  background-color: $grey;
  height: 200px;
}

body {
  background-color: red;
}
