$gotham: 'Montserrat', sans-serif;
$helvetica: 'Arimo', sans-serif;
$red: rgb(198, 91, 104);
$grey: rgb(136, 136, 136);
$black: rgb(56, 56, 56);

.customTextRed {
 color: $red;
}

.fontRed {
  font: 500 35px $gotham;
  color: $red; 
}

.fontBlack {
  font: 300 20px $helvetica;
  color: $black;
}

.fontGrey {
  font: 200 20px $gotham;
  color: $grey;
}

.general {
  max-width: 1200px;
  margin: 0 auto;
}

.showDesktop {
  position: absolute;
  opacity: 0;
  width: 0;
  height: 0;
  overflow: hidden;
}

@media screen and (max-width: 1024px) {
  .hideElement {
    display: none;
  }
}

@media screen and (min-width: 1024px) {
  .showDesktop {
    position: relative;
    opacity: 1;
    width: 100%;
    height: 100%;
  }
}
 
header {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: $red;
  height: 50vh;
  background-image: url("../assets/dog.png");
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  background-blend-mode: soft-light;
  .searchArea {
    text-align: center;
    align-items: center;
    p {
      margin-bottom: 5px;
    }
    form {
      display: flex;
      flex-direction: column;
      @media screen and (min-width: 768px) {
        height: 45px;
        flex-direction: row;
      }
      * {
        height: 45px;
        border: 1px solid $red;
        @media screen and (min-width: 768px) {
          height: 100%;
        }
      }
      select {
        background-color: white;
        padding: 5px 19px;
        border-radius: 0;
      }
      .btnCustomBlack {
        background-color: $black;
        color: $grey;
        font: 14px $gotham;
        border: 0;
        padding: 0 20px;
        @media screen and (min-width: 768px) {
          margin-left: 12px;
        }
      }

    }
  }
}

.navBar {
  padding: 10px 0;
  background-color: $black;
  position: sticky;
  top: 0;
  z-index: 1;
  overflow: auto;
  .leftNav {
    float: left;
  }
  .rightNav {
    text-align: right;
    float: right;
    margin-right: 10px;
  }
  .leftNav > *, .rightNav > * {
    vertical-align: middle;
    margin: 0 5px;
  }
  h4 {
    float: left;
    color: white;
    font: 20px $helvetica;
    padding: 6px 0 0 10px;
  }
  .tinyIcon {
    float: left;
    @extend %iconSections;
    background-image: url("../assets/cat.png");
    border-radius: 20px;
  }
  ul {
    float: left;
    list-style-type: none;
    li {
      * {
        margin-right: 10px;
      }
      float: left;
      text-decoration: none;
      a {
        @extend .fontGrey;
        position: relative;
        top: 3px;
      }
    }
  }
}

.buttonRed {
  background-color: $red;
  color: white;
}

// carousel customs

.customControls {
  height: 47px;
  width: 47px;
  border-radius: 50%;
  border: 1px solid $grey;
  top: 40%;
}

// carousel top items customs

.customPrev {
  background-color: $black;
  display: inline-block;
  position: absolute;
  height: 12%;
  top: 88%;
  left: 297px;
}

.customNext {
  @extend .customPrev;
  left: 337px;
}

.imagePrev {
  background-image: url("../assets/leftBtn.png");
  background-size: 44px;
  width: 40px;
  height: 39px;
}

.imageNext {
 @extend .imagePrev;
 display: inline-block;
 background-image: url("../assets/rightBtn.png");
}

// dog's food

.titleSections {
  display: flex;
  align-items: center;
  * {
    padding: 0 5px;
    margin-bottom: 0;
    margin-right: 10px;
    color: $black;
  }
  h3 {
    font: bold 25px $helvetica;
  }
  p {
    font: 16px $helvetica;
  }
}

.chunks {
  display: flex;
}

%iconSections {
  width: 30px;
  height: 30px;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  opacity: 0.5;
}

.dogRed {
  @extend %iconSections;
  background-image: url("../assets/dogRed.png");
}

.dogIcon {
  background-image: url("../assets/dog.png");
  @extend %iconSections;
}

.catIcon {
  background-image: url("../assets/cat.png");
  @extend %iconSections;
}

.birdIcon {
  background-image: url("../assets/bird.png");
  @extend %iconSections;
}

.fishIcon {
  background-image: url("../assets/fish.png");
  @extend %iconSections;
}

.plusIcon {
  background-image: url("../assets/plus.png");
  display: inline-block;
  opacity: 1;
  float: left;
  border: 1px solid $grey;
  @extend %iconSections;
}

.arrowLeftBlack {
  background-image: url("../assets/leftBtnBlack.png");
  left: -50px;
}

.arrowRightBlack {
  background-image: url("../assets/rightBtnBlack.png");
  right: -50px;
}

.sizeBlackArrows {
  background-size: 50px;
  height: 50px;
  position: absolute;
}

.customPrice {
  font: 20px $gotham;
}

// Display for mobile

.displayMobile {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  .arrangeCards {
    flex-basis: 40%;
    margin: 10px 0;
  }
  .arrangeTitles {
    flex-basis: 95%;
    overflow: hidden; 
    margin: 20px 0;
  }
  .arrangeHotAdds {
    flex-basis: 50%;
    margin: 30px 0;
  }
  @media screen and (min-width: 768px){
    .arrangeCards {
      flex-basis: 30%;
    }
  }
  @media screen and (min-width: 1024px) {
    display: none;
  }
}

// End Display for mobile

footer {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 100px 200px 100px;
  padding: 0 30px;
  text-align: center;
  margin-top: 30px;
  .categories > * {
    list-style-type: none;
    float: left;
  }
  .bottomInfo {
    grid-column-start: 1; 
    grid-column-end: 2; 
    grid-row-start: 1; 
    grid-row-end: 2;
    font: 12px $gotham;
    p {
      font: 12px $gotham;
      display: none;
    }
  }
  .categories {
    grid-column-start: 1; 
    grid-column-end: 2; 
    grid-row-start: 2; 
    grid-row-end: 3;
  }
  .socialMedia {
    grid-column-start: 1; 
    grid-column-end: 2; 
    grid-row-start: 3; 
    grid-row-end: 4;
    span {
      font: 10px $gotham;
    }
    ul {
      text-align: center;
      margin: 10px 0;
    }
  }
  @media screen and (min-width: 768px) {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 100px;
    .bottomInfo {
      grid-column: 1 / 2;
      grid-row: 1 / 2;
      p {
        display: block;
      }
    }
    .categories {
      grid-column: 2 / 3;
      grid-row: 1 / 2;
    }
    .socialMedia {
      grid-column: 1 / 3;
      grid-row: 2 / 3;
    }
  }
  @media screen and (min-width:1024px) {
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 100px; 
    width: 80%; 
    margin: 0 auto;
    .bottomInfo {
      grid-column: 1 / 3;
      grid-row: 1 / 3;
    } 
    .categories {
      grid-column: 3 / 4;
      grid-row: 1 / 3;
    }
    .socialMedia {
      grid-column: 1 / 4;
      grid-row: 3 / 4;
      span {
        float: left;
      }
      ul {
        text-align: end;
      }
    }
  }
}


