$gotham: 'Montserrat', sans-serif;
$helvetica: 'Arimo', sans-serif;
$red: rgb(198, 91, 104);
$grey: rgb(136, 136, 136);
$black: rgb(56, 56, 56);

.fontRed {
  font: 500 35px $gotham;
  color: $red; 
}

.fontBlack {
  font: 300 20px $helvetica;
  color: $black;
}

.fontGrey {
  font: 200 20px $gotham;
  color: $grey;
}

.general {
  max-width: 1200px;
  margin: 0 auto;
}
 
header {
  position: absolute;
  opacity: 0%;
  background-color: $red;
  height: 40vh;
  background-image: url("../../assets/dog.png");
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  background-blend-mode: soft-light;
  @media screen and (min-width: 1024px){
    opacity: 100%;
    position: initial;
  }
  .searchArea {
    flex-direction: column;
    text-align: center;
    form select {
      background-color: white;
      padding: 5px 19px;
      border-radius: 0;
    }
  }
}

.nav-bar {
  ul {
    display: flex;
    list-style-type: none;
    li {
      float: left;
      text-decoration: none;
    }
  }
  display: flex;
}

.buttonRed {
  background-color: $red;
  color: white;
}

// carousel customs

.customControls {
  height: 47px;
  width: 47px;
  border-radius: 50%;
  border: 1px solid $grey;
  top: 40%;
}

// carousel top items customs

.customPrev {
  background-color: $black;
  display: inline-block;
  position: absolute;
  height: 14%;
  top: 282px;
  left: 237px;
}

.customNext {
  @extend .customPrev;
  left: 277px;
}

.imagePrev {
  background-image: url("../../assets/leftBtn.png");
  background-size: 44px;
  width: 40px;
  height: 39px;
}

.imageNext {
 @extend .imagePrev;
 display: inline-block;
 background-image: url("../../assets/rightBtn.png");
}

// dog's food

.chunks {
  display: flex;
}

.arrowLeftBlack {
  background-image: url("../../assets/leftBtnBlack.png");
  left: -50px;
}

.arrowRightBlack {
  background-image: url("../../assets/rightBtnBlack.png");
  right: -50px;
}

.sizeBlackArrows {
  background-size: 50px;
  height: 50px;
  position: absolute;
}